@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add some base styles for a modern look */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-800;
}

section {
  @apply py-16 sm:py-20;
}
