---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutIntro from '../components/AboutIntro.astro';
import NewsSection from '../components/NewsSection.astro';
import Benefits from '../components/Benefits.astro';
import ServiceHighlight from '../components/ServiceHighlight.astro';
import VideoSection from '../components/VideoSection.astro';
import FlipBoxGrid from '../components/FlipBoxGrid.astro';
import ServiceCarousel from '../components/ServiceCarousel.astro';
import energiTerbarukanIcon from '../assets/icons/energi-baru.svg?raw';
import manajemenEnergiIcon from '../assets/icons/manajemen-energi.svg?raw';
import biomassIcon from '../assets/icons/biomass.svg?raw';

const energiTerbarukanStats = [
  { iconPath: energiTerbarukanIcon, value: "17", title: "Proyek yang sedang Berjalan" },
  { iconPath: energiTerbarukanIcon, value: "2109360", title: "Perkiraan kWh Diproduksi per Tahun" },
  { iconPath: energiTerbarukanIcon, value: "1961704", title: "Perkiraan Penghindaran CO₂" },
];

const manajemenEnergiStats = [
  { iconPath: manajemenEnergiIcon, value: "2", title: "Proyek yang sedang Berjalan" },
  { iconPath: manajemenEnergiIcon, value: "37192", title: "Perkiraan Penghematan kWh" },
  { iconPath: manajemenEnergiIcon, value: "35166", title: "Perkiraan Penghindaran CO₂" },
];

const energiBiomassaStats = [
  { iconPath: biomassIcon, value: "100", title: "Perkiraan Ton Sampah yang Diproses" },
  { iconPath: biomassIcon, value: "476190", title: "Perkiraan Penghematan kWh" },
  { iconPath: biomassIcon, value: "442857", title: "Perkiraan Penghindaran CO₂" },
];
---

<Layout title="Solar Nusantara - Energi Baru Indonesia">
	<HeroSection />
	<main>
		<AboutIntro />
    <ServiceHighlight title="Energi Terbarukan" stats={energiTerbarukanStats} />
		<ServiceHighlight title="Manajemen Energi" stats={manajemenEnergiStats} />
		<ServiceHighlight title="Energi Biomassa" stats={energiBiomassaStats} />
		<NewsSection />
		<Benefits />
		<ServiceCarousel />
		<VideoSection />
		<FlipBoxGrid />
	</main>
</Layout>